<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749420480299-2i3pf09jl0r04dho14chjpqf74nt1ugt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749420480299-2i3pf09jl0r04dho14chjpqf74nt1ugt</string>
	<key>API_KEY</key>
	<string>AIzaSyDggBNQABfTAjYR9phJlQyiczgpHvXU3Io</string>
	<key>GCM_SENDER_ID</key>
	<string>749420480299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libraryapp</string>
	<key>PROJECT_ID</key>
	<string>library-2c07b</string>
	<key>STORAGE_BUCKET</key>
	<string>library-2c07b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749420480299:ios:a890ce7176b469d9b0276e</string>
</dict>
</plist>